@import '../../variables';

.Button {
  border: 2px solid #399EFC;
  background-color: transparent;
  padding: 5px 13px;
  color: #399EFC;
  cursor: pointer;
  transition: .5s;

  &:disabled {
    cursor: auto;
  }
}

.roundLeft {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.roundRight {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.active {
  color: white;
  background-color: #399efc;
}

.oval {
  @extend .active;

  border-radius: 40px;
}

.addContact {
  @extend .oval;

  display: flex;
  align-items: center;
  margin-top: 10px;

  @media(min-width: 911px) {
    margin-top: 0;
  }
}

.pagination {
  margin-left: -2px;

  &:not(.active):hover {
    background-color: rgba(#399EFC, 0.2);
  }
}

.form {
  margin-top: 20px;

  @media(min-width: $tablet-width) {
    align-self: flex-end;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.nextPage {
  margin-left: -2px;
}

.perPage {
  width: 69px;
  display: flex;
  justify-content: center;
  background-color: white;
  color: #399EFC;
  border-radius: 40px;
  border: 2px solid #399efc;
}

.begin {
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    margin: 0 30px 0 0;
  }
}

.end {
  margin: 15px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 30px;
  }
}
