.PerPage {
  display: flex;
  margin: 15px 10px 0;

  @media(min-width: 1069px) {
    margin-top: 0;
  }
}

.wrapper {
  position: relative;
}

.arrow {
  margin-left: 10px;
  transition: 1s;
  transform: rotate(-180deg);
}

.open {
  transform: rotate(0);
}

.text {
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
}

.list {
  list-style: none;
  margin: 2px 0 0 0;
  padding: 0;
  background-color: white;
  text-align: center;
  border: 2px solid #399EFC;
  border-radius: 15px;
  overflow: hidden;
}

.active {
  background-color: #399efc;
  color: white;
}

.item {
  cursor: pointer;

  &:not(.active):hover {
    background-color: rgba(#399EFC, 0.2);
  }
}