.button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: .3s;
  margin-right: 15px;

  &:hover {
    color: red;
    animation: shake .7s;
  }
}

@keyframes shake {
  0% {
    transform: rotate(20deg)
  }
  20% {
    transform: rotate(0)
  }
  40% {
    transform: rotate(-20deg)
  }
  60% {
    transform: rotate(0)
  }
  80% {
    transform: rotate(20deg)
  }
  100% {
    transform: rotate(0)
  }
}
